h1, h2 {
    font-family: monospace;
    letter-spacing: .15em;
}

.bg-custom {
    background-color: #defccf;
}

.hero-image {
    max-width: 15rem;
    object-fit: cover;
}

.fixtop {
    padding-top: 125px;
}

.typewriter h1 {
    color: #000;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    /* Adjust as needed */
    animation:
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-icon {
    color: #000;
    font-size: 2rem;
    margin: 0 1.5rem;
}

.divider-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50;
}


.form-textarea {
    height: 200px
}

.navbar-logo {
    width: 60px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link{
    background-color: var(--bs-info-bg-subtle);
    color: #000;
}

.nav-link:hover {
    color: #ffffffaa;
}

.nav-link:visited, .nav-link:focus, .nav-link{
    color: #fff;
}
